@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item">
            <span class="navbar-text text-dark">
                @User.Claims.FirstOrDefault(c => c.Type == "name")?.Value
            </span>
        </li>
        <li class="nav-item">
            <!-- Parameter asp-area="MicrosoftIdentity" might rise an error in IDE, but is correct and essential for correct sign in and sign out process -->
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Odhlásit</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <!-- Parameter asp-area="MicrosoftIdentity" might rise an error in IDE, but is correct and essential for correct sign in and sign out process -->
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Přihlásit</a>
        </li>
    }
</ul>