﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

<h2 class="text-danger">Při běhu aplikace došlo k chybě.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<img src="404.png">

