@model IEnumerable<Espit.Models.Wrappers.CoursesWrapper>

@{
    ViewData["Title"] = "Volitelné předměty";
}

<h1>Volitelné předměty</h1>

@if (Model.Any() && (Model.First().HasElevatedPrivileges.isTeacher || Model.First().HasElevatedPrivileges.isDev))
{
    <p>
        <a asp-action="Create">Vytvořit nový volitelný předmět</a>
    </p>
}
<br>

<h4>Zápis začne 11. 3. ve 14:00 a skončí 20. 3. ve 23:59.</h4>
<br>

@if (Model.Any())
{
    <h4>
        Máte zapsáno @Model.First().StudentWrapper.Courses.Count(course => course.Value) z @Model.First().StudentWrapper.ForcedCourseCount povinně volitelných
        a @Model.First().StudentWrapper.Courses.Count(course => !course.Value) ze 2 možných nepovinných předmětů.
    </h4>
    <br>
}
else
{
    <h4>Váš ročník nemá k zapsání žádné volitelné předměty.</h4>
}

@foreach (var item in Model)
{
    <div class="card" style="@(item.StudentWrapper.Courses.TryGetValue(item.Course, out _) ? "background-color: rgba(123, 255, 176, 0.62)" : "")">
        <div class="card-body">
            <h3>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </h3>
            <p>
                @Html.DisplayNameFor(modelItem => item.EnrolledStudents):
                @Html.DisplayFor(modelItem => item.EnrolledStudents)
                @if (item.Course.Title == "Právo v praxi")
                {
                    <span>/20</span>
                }
            </p>

            @*Comment to turn registration off*@
            @*
            <div class="row">
                <div class="col-md">
                    @if (item.StudentWrapper.Courses.TryGetValue(item.Course, out var isMandatory))
                    {
                        if (isMandatory)
                        {
                            <p>Zapsáno povinně</p>
                        }
                        else
                        {
                            <p>Zapsáno nepovinně</p>
                        }

                        <p>
                            @Html.ActionLink("Odhlásit", "Deregister", new { courseId = item.Course.Id }, new { @class = "button-deregister" })
                        </p>
                    }
                    else
                    {
                        <p>
                            @if (item.Course.Title == "Právo v praxi" && item.EnrolledStudents >= 20)
                            {
                                <span style="color: red;">Předmět je plný</span>
                            }
                            else
                            {
                                @if (item.StudentWrapper.Courses.Count(course => course.Value) < item.StudentWrapper.ForcedCourseCount)
                                {
                                    @Html.ActionLink("Zapsat povinně", "Register", new { courseId = item.Course.Id, mandatoryChoice = true }, new { @class = "button-register" })
                                }

                                @if (item.Course.MandatoryOnly == false && item.StudentWrapper.Courses.Count(course => !course.Value) < 2)
                                {
                                    @Html.ActionLink("Zapsat nepovinně", "Register", new { courseId = item.Course.Id, mandatoryChoice = false }, new { @class = "button-register", })
                                }
                            }
                        </p>
                    }
                </div>
            </div>
            *@
            @*/Comment to turn registration off*@
            @if (item.HasElevatedPrivileges.isTeacher || item.HasElevatedPrivileges.isDev)
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Course.Id">Upravit</a>

                </div>
            }
        </div>
        <br/>
    </div>
}

<br>
<h4>Nezapomeňte si prohlédnout nabídku <a asp-controller="Clubs" asp-action="Index">nepovinných předmětů</a>.</h4>
<br>