@model Espit.Models.Club

@{
    ViewData["Title"] = "Vytvořit předmět";
}

<h1>Vytvořit</h1>

<h4>Předmět</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="EligibleClassSecunda" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassSecunda)

                <label asp-for="EligibleClassTercie" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassTercie)

                <label asp-for="EligibleClassQuarta" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassQuarta)

                <label asp-for="EligibleClassQuinta" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassQuinta)
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="EligibleClassSexta" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassSexta)
                <label asp-for="EligibleClassSophomore" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassSophomore)
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="EligibleClassSeptima" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassSeptima)
                <label asp-for="EligibleClassJunior" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassJunior)
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="EligibleClassOctava" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassOctava)
                <label asp-for="EligibleClassSenior" class="control-label"></label>
                @Html.CheckBoxFor(m => m.EligibleClassSenior)
            </div>
            <br/>
            <div class="form-group">


                <input type="submit" value="Vytvořit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět k seznamu</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}