@model IEnumerable<Espit.Models.Wrappers.ClubsWrapper>

@{
    ViewData["Title"] = "Nepovinné předměty";
}

<h1>Nepovinné předměty</h1>

@if (Model.Any() && (Model.First().HasElevatedPrivileges.isTeacher || Model.First().HasElevatedPrivileges.isDev))
{
    <p>
        <a asp-action="Create">Vytvořit nový nepovinný předmět</a>
    </p>
}
<br>
<h4>Zápis začne 11. 3. ve 14:00 a skončí 20. 3. ve 23:59.</h4>


<br>
<h4 style="margin: auto">Nezapomeňte si zkontrolovat zápis <a asp-controller="Courses" asp-action="Index">volitelných předmětů</a>.</h4>
<br>

<h4>Z nepovinných předmětů sportovního zaměření si studenti volí maximálně dva předměty.</h4>
<br>

@if (Model.Any())
{
    <h4>
        Máte zapsáno @Model.First().StudentWrapper.Clubs.Count nepovinných předmětů.
    </h4>
    <br>
}
else
{
    <h4>Váš ročník nemá k zapsání žádné volitelné předměty.</h4>
    <br>
}




@foreach (var item in Model)
{
    <div class="card" style="@(item.StudentWrapper.Clubs.Contains(item.Club) ? "background-color: rgba(123, 255, 176, 0.5)" : "")">
        <div class="card-body">
            <h3>
                @Html.DisplayFor(modelItem => item.Club.Title)
            </h3>
            <p>
                @Html.DisplayNameFor(modelItem => item.EnrolledStudents):
                @Html.DisplayFor(modelItem => item.EnrolledStudents)
            </p>

            @*<div class="row">
                <div class="col-md">
                    @if (item.StudentWrapper.Clubs.Contains(item.Club))
                    {
                        <p>Zapsáno</p>
                        <p>
                            @Html.ActionLink("Odhlásit", "Deregister", new { ClubId = item.Club.Id }, new { @class = "button-deregister" })
                        </p>
                    }
                    else
                    {
                        <p>

                            @Html.ActionLink("Zapsat", "Register", new { ClubId = item.Club.Id }, new { @class = "button-register" })

                        </p>
                    }
                </div>
            </div>*@
            @if (item.HasElevatedPrivileges.isTeacher || item.HasElevatedPrivileges.isDev)
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Club.Id">Upravit</a>
                </div>
            }
        </div>
        <br/>
    </div>
}