@{
    ViewData["Title"] = "Claims";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: justify;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
</style>

@if (@User.Identity is not null && @User.Identity.IsAuthenticated)
{
    <p>You are signed in! Below are the claims in your ID token.</p>
    <table>
        <tbody>

        @foreach (var item in @User.Claims)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
        </tbody>
    </table>
}

<br />