﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: justify;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
</style>

<div>
    <h1 class="display-4">Vítejte v E-Špitu!</h1>
    <p><b>Co si přejete udělat?</b></p>
    @* <p>Přihlásit si <a href="/seminars">volitelné předměty</a></p> *@
    <p>Zapsat se na <a href="/workshop">dílny na akcích</a></p>
    @* <p>Vyexportovat <a href="/docs">potvrzení o studiu</a></p> *@

    <br />
</div>
