@model IEnumerable<Espit.Models.Entries.WorkshopEntry>

@{
    ViewData["Title"] = "Workshop Entries";
}

<h1>Workshop Entries</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkshopId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredStudents)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkshopId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredStudents)
            </td>
            <td>
                <a asp-action="DeleteEntry" asp-route-id="@item.Id">Smazat záznam</a>
            </td>
        </tr>
    }
    </tbody>
</table>