@model IEnumerable<Espit.Models.Wrappers.WorkshopWrapper>

@{
    ViewData["Title"] = "Index";
}

<h1>Přihlašování dílen</h1>

@if (Model.First().HasElevatedPrivileges.isTeacher || Model.First().HasElevatedPrivileges.isDev)
{
    <p>
        <a asp-action="Create">Vytvořit novou dílnu</a> |
        <a asp-controller="Student" asp-action="Index">Zobrazit zapsané studenty</a>
    </p>
}

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <h3>
                @Html.DisplayFor(modelItem => item.Workshop.Title)
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.Workshop.HostName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Workshop.Annotation)
            </p>
            <div class="row">
                @foreach (var enrollment in item.Enrollments)
                {
                    @if (item.Workshop.Start - 1 > enrollment.Key)
                    {
                        <div class="col-md">
                            <p>Neprobíhá v tomto bloku</p>
                        </div>
                    }
                    else if ((enrollment.Key + item.Workshop.Start) % item.Workshop.Length == 0 || enrollment.Key + item.Workshop.Length - 1 <= 3)
                    //else
                    {
                        <div class="col-md">
                            @if (item.Workshop.Length == 1)
                            {
                                <h3>Blok @(enrollment.Key)</h3>
                            }
                            else
                            {
                                @* <h3>Blok @(enrollment.Key+1)-@(enrollment.Key + item.Workshop.Length)</h3> *@
                                <h3>Blok @(item.Workshop.Start)-@(item.Workshop.Start+ item.Workshop.Length-1)</h3>
                            }
                            <div class="progress" style="width:80%">
                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@enrollment.Value"
                                     aria-valuemin="0" aria-valuemax="@item.Workshop.Capacity"
                                     style="width: @(enrollment.Value * 100 / item.Workshop.Capacity)%; min-width:3.5em;">
                                    @Html.DisplayFor(modelItem => enrollment.Value) /
                                    @Html.DisplayFor(modelItem => item.Workshop.Capacity)
                                </div>
                            </div> 
                            @if (!item.HasElevatedPrivileges.isTeacher)
                            {
                                if (item.ThisStudentWrapper.Workshops.ContainsKey(enrollment.Key))
                                {
                                    if (item.ThisStudentWrapper.Workshops[enrollment.Key].Id == item.Workshop.Id)
                                    {
                                        // User is already registered for this workshop at this time slot
                                        <p>Přihlášeno</p>

                                        if (item.Workshop.Length == 1)
                                        {
                                            @Html.ActionLink("Odepsat dílnu", "Deregister", new { workshopId = item.Workshop.Id, blockNumber = enrollment.Key })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Odepsat dílnu", "Deregister", new { workshopId = item.Workshop.Id, blockNumber = item.Workshop.Start })
                                        }
                                    }
                                    else
                                    {
                                        // User is registered for another workshop at this time slot
                                        <p>V tomto bloku je již přihlášena jiná dílna</p>
                                    }
                                }
                                else if (item.ThisStudentWrapper.Workshops.ContainsValue(item.Workshop))
                                {
                                    // User is already registered for this workshop at another time slot
                                    <p>Dílna je přihlášena v jiném bloku</p>
                                }
                                else if (enrollment.Value >= item.Workshop.Capacity)
                                {
                                    // Workshop is full
                                    <p>Dílna je plná</p>
                                }
                                else
                                {
                                    if (item.Workshop.Length == 1)
                                    {
                                        @Html.ActionLink("Zapsat dílnu", "Register", new { workshopId = item.Workshop.Id, blockNumber = enrollment.Key })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Zapsat dílnu", "Register", new { workshopId = item.Workshop.Id, blockNumber = item.Workshop.Start })
                                    }

                                    <p>Nezapsáno</p>
                                }
                            }
                        </div>
                    }
                }
                @if (item.HasElevatedPrivileges.isTeacher || item.HasElevatedPrivileges.isDev)
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Workshop.Id">Upravit</a> |
                        <a asp-action="Details" asp-route-id="@item.Workshop.Id">Detail</a> |
                        <a asp-action="Delete" asp-route-id="@item.Workshop.Id">Smazat</a>
                    </div>
                }
            </div>
        </div>
        <br/>
    </div>
}