@model IEnumerable<Espit.Models.Wrappers.StudentWorkshopWrapper>

@{
    ViewData["Title"] = "Zapsané dílny";
}

<h1>Zapsané dílny</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        @if (Model.Any())
        {
            @for (int i = 1; i <= 3; i++)
            {
                <th>
                    Blok č. @i
                </th>
            }
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            @for (int i = 1; i <= 3; i++)
            {
                if (item.Workshops.ContainsKey(i))
                {
                    <td>

                        @Html.DisplayFor(modelItem => item.Workshops[i].Title)
                    </td>
                }
                else
                {
                    
                    <td>
                    NEZAPSÁNO    
                    </td>
                }
            }
            @*@foreach(var workshop in item.Workshops)
            {
                <td>
                    Blok @Html.DisplayFor(modelItem => workshop.Key) |
                    @Html.DisplayFor(modelItem => workshop.Value.Title)
                </td>
            }*@
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
    }
    </tbody>
</table>